/* base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    color: #374151;

    display: flex;
    justify-content: center;
    align-items: stretch; 
    padding: 20px;

    background-image: url('../img/podsol.png');
    background-size: 26%;
    background-repeat: repeat;
}


textarea {
    resize: none;
}

/* контейнер всего сайта */

.site-container {
    width: 100%;
    max-width: 1206px;
    background: #fff;
    margin: 20px auto;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 40px);
}
